@charset "utf-8";
/* CSS Document */
.sanpham{
	float:left;
	width:100%;}
.rivew{
	margin:10px 0 0 0;
	width:100%;
	height:33px;
	float:left;
	background:url(../../images/rivew.png) no-repeat center;}

.rivew .rivew_tb{
	line-height:33px;
	font-weight:bold;
	color:#C30;
	margin-left:40px;
	}
.rivew .rivew_tb a{
	text-decoration:none;}
.box_sp{
	margin:10px 5px 0 5px;
	float:left;
	width:290px;
	height:auto;
	background-color:#FFF;
	text-align:center;
	border-radius: 10px;
	}
.box_sp:hover{
	background:#FFCC66;}
.name_sp{
	padding: 10px;
	color:#000;
	text-decoration:none;
	font-size:18px;}
.name_sp a{

	text-decoration:none;
}
.image_sp{
	float:left;
	padding:15px 66px;
}


/* ip11pro max */

.ip11max_conten{
	width:100%;
	background:#FFF;
	float:left;
	border-radius: 10px;
	padding-top: 20px;
	height: auto;
}
.title_name{
	color:#000;
	font-size:24px;
	padding:20px 0 20px 0;}

	
.content_sp{
	height:650px;
	
	background-color:#FFF;
	width:400px;
	padding:10px 0 0 0;
	}
.content_sp p{
	padding:40px}
.text_box2{
	margin:10px 0 10px 0;
	color:#000;}	
	
ul.thongso{
	list-style-type:none;
	text-align:left;}

ul, #main-image{
	float: left;
	
}
#main-image img{
	border: thin solid #EEEEEE;
	box-shadow: 1px 1px 1px #AAA;
}
ul li{
	list-style: none;

}
.thongso{
	margin-left: 200px;
	float: left;
	width: auto;

}
@media all and (max-width: 1122px) {
	ul li{
	list-style: none;

  display: inline-block;
	}
	.thongso{
	margin-left: 20px;
	float: left;
	width: auto;

	}
}

ul li img{
	width: 97px;
	cursor: pointer;
	border-radius: 5px;
	border: thin solid #EEEEEE;
	box-shadow: 1px 1px 1px #AAA; 
}

#main-image{
	width: auto;
	float: left;
	margin: 0 20px 20px 20px;
	border-radius: 10px;
}
	
#main-image img{
	width: 400px;
	float: left;
	border-radius: 10px;
}


.title_thongso{
	text-align: center; 
	padding : 5px;
	font-size: 16px; 
	border-top: thin solid black;
	border-bottom: thin solid black;
	color:#FF9900;
}
.title_namethongso{
	font-weight: bold;
	width: 120px;
	float: left;

}
p{
	padding: 5px;
	border-bottom: thin solid #DDDDDD;
}
.menu_tab{
	background-color: red;
	width::100%;
}
@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	}
.clr{
	clear:both;
	}
body{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: Silver;
	}
.main{
	width:100%;
	margin:0px auto
	}
	/*************************TOP**************************/
.top{
	width:100%;
	height:38px;
	background-color:#73798C;
	}

.layout{
	width:100%;
	height:15px;
	padding:5px 10px 0 30px;
	background-position:10px 7px;
	}
.layout span.current{
	color:#00F;
	}
.layout a{
	text-decoration:underline;
	color:#00F;}
.layout a:hover{
	color:#F00;

	width:100%;
	height:50px;
	background-color: #FF9900;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	}
#menu_tab a:hover{
	color:#03C;
	font-weight:bold;}

ul.menu {
	width:100%;
	float:left;
	background-color: #fdba38;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display:block;
	list-style-type:none; /* xóa biểu tượng trước danh sách */}
ul.menu li{
	display:inline;
	font-size:12px;
	font-weight:bold;
	line-height:50px;}
ul.menu li.divider{
	display:inline;
	width:1px;
	height:50px;
	float:left;
}
ul.menu li a, ul.menu li a:visited{
	display:block;
	float:left;
	padding: 0 8px 0 22px;
	margin:0 14px;
	height:50px;
	text-decoration:none;
	color:black;}


#clock{
	float:left;
	font-size:15px;
	font-weight:bold;
	padding:15px 0 0 0;
	color:#03F;
	margin-right: 20px;
}

.title_name{
	color:#black;
	size:23px;
	padding:20px 0 20px 20px;}
.head{
	background-image:url(../../images/head_bg.png);
	width:100%;
	height:173px;}
#logo{
	float:left;
	padding:5px 5px 5px 0px;}

	


.content_sp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: Silver;
    padding-bottom: 30px;
}
