
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;

}
.top{
    width: 100%;
    background-color: #fdba38;
    position: fixed;
    z-index: 999;
   
}
.submenu{
    text-align: center;
    width: 120px; 
    float: left;
    height: 28px;
}
.top2{
    width: 100%;
    background-color: #73798C ;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100px;
}
.tmenu{
    margin: 0 20px;
    color: white;
    text-decoration: none;
   
}

div a:hover{
    color: skyblue;
    width: 300px;
}

img.logo{
    padding: 10px 10px 10px 50px;
    height: 38px; 
    width: 80px;
}

.mid{ 

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
   
}

iframe{

    border-radius: 12px;
    box-shadow: 5px 5px 5px #AAA;
    margin-bottom: 20px;
}


.my-menu{
    padding: 20px;
    margin:  0 30px 0 10px;

}




.accordion {
  background-image: linear-gradient(to left, rgba(88,37,123,0), 
  #eee);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 10px;
  height: 100%;

}
.tiltehead{
  margin-left: -30px;
  background-image: linear-gradient(to left, rgba(88,37,123,0), 
  #A9A9A9);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 101%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 10px;
  height: 100%;
  font-weight: bold;
  padding-left: 30px;

}


.active, .accordion:hover {
  background-image: linear-gradient(to left, rgba(88,37,123,0), 
  #ccc);
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 15px;
}

.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  max-height: 0;
  background-color: white;
  overflow: hidden;
  width:600px;
    transition: max-height 0.3s ease-out;
}


.titlevd{
    float: left; 
    margin: 10px 0 10px 0;
    color: red;
}

a{
     text-decoration: none;
     color: red;
}
.troll{
    color: blue;
}
.troll:hover{
    color: skyblue;
}
p{
    text-align: justify;
}

.bt{
  background-color:#3d4351;
  height: 500px;
  width: 100%; 

}
.address{
  color: white;
  padding:50px;
}
table{
            border-collapse:collapse;
        }
        table, th, td{
            border:1px solid black;
        }
th, td{
  text-align: center;
  padding: 5px;

}
th{
  background-color:   #C0C0C0;
}
td{  text-align: left;}

.btn2 {
  float: right;
   font-size: 14px;
   letter-spacing: 0.1em;
   text-decoration: none;
   color: white;
   display: inline-block;
   padding: 10px 40px 10px 40px;
   position: relative;
   border: 3px solid #ffffff;
   border-radius: 20px;
   margin:10px 40px 0 0;
   
 }
.btn2:hover{
  color: skyblue;
  border: 3px solid skyblue;
  
}
.lh{
  width: 50px;
  height: 120px;
 opacity: 0.5;
  position:fixed;
  right:0px;
  top:300px;
  }
.an{
        display: none;
     
    }
.popup {
display: none;
position: fixed;
padding-top: 50px;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
position: relative;
background-color: #FAFAFA;
padding: 15px;
margin: auto;
width: 70%;
}
.close-btn {
float: right;
color: #2E2E2E;
font-size: 25px;
font-weight: 700;
}
.close-btn:hover {
color: #D2D2D2;
}
.popup2 {
    z-index: 1000;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.90);
    width:100%;
    height:100%;
   
}
.popup-content2 {
    border-radius: 50px;
    width: 30%;
    margin: 30px auto 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding-bottom: 5px;
    background-size: contain;
}
.nd{
  width: auto;
  height: auto;
  border-radius: 10px;
}
.imgnd{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.close-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    right: 5px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    color: black;
    text-decoration:none;
}
.close-button:hover {
    color: red;
     width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    right: 5px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration:none;
}
.tieude{
    padding: 10px;
    width: auto;
    font-size: 18px;
    background-color: #F8F8FF;
    text-align: center;
    box-shadow: 0px 2px 2px #AAA;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
 

}
.hello_text{
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: blue;
}
@media only screen and (max-width: 1422px){
  .popup-content2{
    background-color: red;
    width: 70%;
    margin: 130px auto 0 auto;
  }

}
