<div style="font-family: 'Segoe UI', Tahoma, Arial, sans-serif; font-size: 11px;">
    <table style="width: 100%; border-collapse: collapse;">
        <tbody>
            <tr style="page-break-inside: avoid; page-break-after: auto;">
                <td style="text-align: center;">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="font-size: 11px; text-align: center;">{{SHOP_LOGO}}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; text-align: center;">
                                    <strong style="font-size: 18px;">{{SHOP_NAME}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; text-align: center;">{{SHOP_ADDRESS}}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; text-align: center;">{{SHOP_PHONE}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <p style="font-size: 14px; text-align: center; margin-bottom: 2px;">
        <b>HÓA ĐƠN THANH TOÁN</b>
    </p>
    <p style="font-size: 12px; text-align: center; margin-top: 2px;">
        Số HĐ <span style="font-weight: bold;">{{ORDER_CODE}}</span>
    </p>

    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="font-size: 11px; text-align: left;">Ngày tạo</td>
                <td style="font-size: 11px; text-align: right;">{{DATE_CREATED}}</td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%;">
        <tbody>
            <tr data-type="name-customer">
                <td style="font-size: 11px; text-align: left;">Khách hàng</td>
                <td style="font-size: 11px; text-align: right;">{{CUSTOMER_NAME}}</td>
            </tr>
            <tr data-type="phone-number">
                <td style="font-size: 11px; text-align: left;">Điện thoại</td>
                <td style="font-size: 11px; text-align: right;">{{CUSTOMER_PHONE}}</td>
            </tr>
            <tr data-type="address-customer">
                <td style="font-size: 11px; text-align: left;">Địa chỉ</td>
                <td style="font-size: 11px; text-align: right;">{{CUSTOMER_ADDRESS}}</td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%; margin-bottom: 5px;">
        <tbody>
            <tr>
                <td style="font-size: 11px; text-align: left; width: 50%;">T.Ngân: {{CASHIER_NAME}}</td>
                <td style="font-size: 11px; text-align: right; width: 50%;">{{PLACE_NAME}}</td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%; border-collapse: collapse;" cellpadding="3">
        <thead>
            <tr style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <th style="text-align: left; width: 44%;"><strong><span style="font-size: 11px;">Tên sản phẩm</span></strong></th>
                <th style="text-align: right; width: 10%;"><strong><span style="font-size: 11px;">Sl</span></strong></th>
                <th style="text-align: right; width: 23%;"><strong><span style="font-size: 11px;">Đ.Giá</span></strong></th>
                <th style="text-align: right; width: 23%;"><strong><span style="font-size: 11px;">T.Tiền</span></strong></th>
            </tr>
        </thead>
        <tbody>
            <tr style="border-top: 1px solid black;">
                <td><span style="font-size: 11px; font-weight: 500;">{{ITEM_NAME}} ({{UNIT_NAME}})</span></td>
                <td style="text-align: right;"><span style="font-size: 11px;">{{ITEM_QUANTITY}}</span></td>
                <td style="text-align: right;"><span style="font-size: 11px;">{{ITEM_PRICE}}</span></td>
                <td style="text-align: right;"><span style="font-size: 11px;">{{ITEM_TOTAL_PRICE}}</span></td>
            </tr>
            <tr>
                <td colspan="3"><span style="font-size: 11px;font-style: italic;">{{ITEM_NOTE}}</span></td>
                <td>&nbsp;</td>
            </tr>
            <tr data-type="topping">
                <td colspan="2"><span style="font-size: 11px;font-style: italic;">+ {{TOPPING_NAME}} {{TOPPING_QUANTITY}}</span></td>
                <td style="text-align: right;"><span style="font-size: 11px;font-style: italic;">{{TOPPING_TOTAL_PRICE}}</span></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span style="font-size: 11px;font-style: italic;">+ Giảm giá ({{ITEM_DISCOUNT_PERCENT}})</span></td>
                <td style="text-align: right;"><span style="font-size: 11px;font-style: italic;">-{{ITEM_DISCOUNT_PRICE}}</span></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span style="font-size: 11px;font-style: italic;font-style: italic;">+ Phụ thu ({{ITEM_SURCHARGE_PERCENT}})</span></td>
                <td style="text-align: right;"><span style="font-size: 11px;font-style: italic;font-style: italic;">+{{ITEM_SURCHARGE_PRICE}}</span></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span style="font-size: 11px;font-style: italic;">+ Thuế ({{ITEM_TAX_PERCENT}})</span></td>
                <td style="text-align: right;"><span style="font-size: 11px;font-style: italic;">{{ITEM_TAX_PRICE}}</span></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table style="border-bottom: 1px dotted black;border-collapse: collapse; margin-top: 20px; width: 70%;margin-left: 30%;" border="0" cellspacing="0" cellpadding="3">
        <tfoot>
            <tr data-type="totalofitems">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">Tổng SL món</td>
                <td style="font-size: 11px; text-align: right; font-weight: bold;">{{TOTAL_OF_ITEMS}}</td>
            </tr>
            <tr data-type="totalprice">
                <td style="font-size: 11px; text-align: left;font-weight: bold; white-space: nowrap;">Thành tiền</td>
                <td style="font-size: 11px; text-align: right; font-weight: bold;">{{TOTAL_PRICE}}</td>
            </tr>
        </tfoot>
    </table>

    <table style="border-collapse: collapse; width: 70%;margin-left: 30%;" border="0" cellspacing="0" cellpadding="3">
        <tfoot>
            <tr data-type="discount">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">Giảm giá ({{DISCOUNT_PERCENT}})</td>
                <td style="font-size: 11px; text-align: right; ">{{DISCOUNT_PRICE}}</td>
            </tr>
            <tr data-type="discountReason">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;font-style: italic;">Lý do: {{DISCOUNT_REASON}}</td>
            </tr>
            <tr data-type="surcharge">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">Phụ thu ({{SURCHARGE_PERCENT}})</td>
                <td style="font-size: 11px; text-align: right;">{{SURCHARGE_PRICE}}</td>
            </tr>
            <tr data-type="surchargeReason">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;font-style: italic;">Lý do phụ thu: {{SURCHARGE_REASON}}</td>
            </tr>
        </tfoot>
    </table>

    <table style="border-collapse: collapse; width: 70%;margin-left: 30%;" border="0" cellspacing="0" cellpadding="3">
        <tfoot>
            <tr data-type="totaltaxitem">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">Tổng tiền thuế</td>
                <td style="font-size: 11px; text-align: right; ">{{TOTAL_TAX_PRICE_BY_ITEM}}</td>
            </tr>
            <tr style="display: contents;" data-type="tax">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">+ Thuế {{TAX_PERCENT}}</td>
                <td style="font-size: 11px; text-align: right;">{{TAX_PRICE}}</td>
            </tr>
            <tr data-type="totalpay" style="border-top: 1px dotted black;">
                <td style="font-size: 13px; text-align: left;font-weight: bold; white-space: nowrap;">Tổng thanh toán</td>
                <td style="font-size: 13px; text-align: right; font-weight: bold;">{{TOTAL_PAY}}</td>
            </tr>
            <tr data-type="wallet">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">{{PAYMENT_NAME}}</td>
                <td style="font-size: 11px; text-align: right; font-weight: bold;">{{PAYMENT_AMOUNT}}</td>
            </tr>
            <tr data-type="changeMoney">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">Tiền thối</td>
                <td style="font-size: 11px; text-align: right; font-weight: bold;">{{CHANGE_MONEY}}</td>
            </tr>
            <tr data-type="notebill">
                <td style="font-size: 11px; text-align: left; white-space: nowrap;">Ghi chú:</td>
                <td style="font-size: 11px; text-align: right; font-weight: bold;">{{ORDER_NOTE}}</td>
            </tr>
        </tfoot>
    </table>

    <table style="margin-top: 5px; width: 100%;">
        <tbody>
            <tr data-type="info_account_bank">
                <td style="font-size: 9px; text-align: center;">
                    <div style="display: block;">
                        <img width="180px" class="qr-code img-thumbnail img-responsive" src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&amp;data={{QR_CODE_NGAN_HANG}}&amp;qzone=3">
                        <span style="margin-bottom: 2px; display: block;">{{BANK_ACCOUNT_NAME}}</span>
                        <span style="margin-bottom: 2px; display: block;">{{BANK_ACCOUNT_NO}}</span>
                        <span style="margin-bottom: 15px; display: block; width: 100%;">{{BANK_NAME}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mceNonEditable" style="font-size: 9px; font-style: italic; text-align: center; width: 100%;" colspan="2">PosApp {{APP_VERSION}}</td>
            </tr>
        </tbody>
    </table>
</div>
