<div style="font-family: Arial, sans-serif; font-size: 12px;">
    <table style="width:100%">
        <tbody>
            <tr>
                <td style="text-align:center">
                  <table style="width: 100%;">
                    <tbody><tr>
                      <td style="width: 20%; font-size:12px; text-align:center">{{Logo_Cua_Hang}}</td>
                      <td style="width: 80%;  text-align: center;">
                        <strong style="font-size:18px">{{Ten_Cua_Hang}}</strong> <br>
                        <strong style="font-size:12px">{{Dia_Chi_Cua_Hang}}</strong> <br> <br>
                        <span style="font-size:12px; text-align:center; text-overflow: ellipsis;">
                                  MST : 888-888-888    <br>
                                  TELL : 033.726.0123 - 0344.545.223 <br>
                                  STK MBBank : 82 666 666 99 <br>
                                  CTK : Nguyễn Văn Chiến <br>

                        </span>
                      </td>
                    </tr>
                  </tbody></table>
                    
<hr size="1px;" align="center" width="80%" />
    <div style="padding:10px 0 0; text-align:center"><strong style="font-size:18px">HÓA ĐƠN BÁN HÀNG</strong>
      <br>
    Số HĐ: {{Ma_Phieu}} - {{Ngay_Tao}}</div>

    <table style="margin:10px 0 15px; width:100%">
        <tbody>
            <tr>
                <td style="font-size:12px; text-overflow: ellipsis; float: left;">Khách hàng: {{Ten_Khach_Hang}}</td>
            </tr>            
            <tr>
                <td style="font-size:12px; text-overflow: ellipsis; float: left;">Địa chỉ: {{Dia_Chi_Khach_Hang}}</td>
            </tr>

            <tr>
                <td style="font-size:12px; text-overflow: ellipsis; float: left;">SĐT: {{So_Dien_Thoai_Khach_Hang}}</td>
            </tr>

        </tbody>
    </table>


    <table class="order-info-table" style="font-size:12px;width: 100%;border: 1px solid black; border-collapse: collapse;">
                              <thead style="border: 1px solid black;">
                              <tr style="">
                                  <th style="border: 1px solid black; text-align: center;">STT</th>
                                  <th style="border: 1px solid black; text-align: center;">Tên hàng hoá</th>
                                  <th style="border: 1px solid black; text-align: center;">DVT</th>
                                  <th style="border: 1px solid black; text-align: center;">SL</th>
                                  <th style="border: 1px solid black; text-align: center;">Đơn giá</th>
                                  <th style="border: 1px solid black; text-align: center;">Thành tiền</th>

                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td style="border-left: 1px solid #000000;
border-right: 1px solid #000000; border-bottom: 1px dotted #000000; text-align: center;">{{STT}}</td>
                                  <td style="border-left: 1px solid #000000;
border-right: 1px solid #000000; border-bottom: 1px dotted #000000; text-align: left;padding-left: 5px;">{{Ten_Mon}}</td>
                                  <td style="border-left: 1px solid #000000;
border-right: 1px solid #000000; border-bottom: 1px dotted #000000;">{{DVT}}</td>
                                  <td style="border-left: 1px solid #000000;
border-right: 1px solid #000000; border-bottom: 1px dotted #000000;">{{So_Luong}}</td>
                                  <td style="border-left: 1px solid #000000;
border-right: 1px solid #000000; border-bottom: 1px dotted #000000;text-align: right;">{{Don_Gia}}</td>
                                  <td style="border-left: 1px solid #000000;
border-right: 1px solid #000000; border-bottom: 1px dotted #000000;text-align: right;">{{Thanh_Tien}}</td>


                              </tr></tbody>
                              <tfoot>
                              <tr>
                                  <td colspan="3" style=" border: 1px solid #000000; font-weight: bold;">Tổng Cộng</td>
                                  <td style="border: 1px solid #000000; font-weight: bold;">{{Tong_So_Luong}}</td>

                                
                                  <td colspan="2" style="border: 1px solid #000000; font-weight: bold; font-size:12px; text-align:right;">{{Tong_Cong}}</td>
                          
                              </tr>


                          
                            
                        
                             
                              </tfoot>
                          </table>
    <table border="0" cellpadding="3" cellspacing="0" style="border-collapse:collapse; margin-top:20px; width:100%">
        <tfoot>

            <tr>
                <td style="font-size:12px; text-align:left;white-space:nowrap">Giảm giá:</td>
                <td style="font-size:12px; text-align:right">{{Tien_Giam_Gia}}</td>
            </tr>
            <tr>
                <td style="font-size:12px; text-align:left;white-space:nowrap">Phụ Thu:</td>
                <td style="font-size:12px; text-align:right">{{Tien_Phu_Thu}}</td>
            </tr>
            <tr>
                <td style="font-size:12px; text-align:left;white-space:nowrap">Thuế:</td>
                <td style="font-size:12px; text-align:right">{{Thue}}</td>
            </tr>
            <tr>
                <td style="font-size:12px; text-align:left;white-space:nowrap">Phí vận chuyển:</td>
                <td style="font-size:12px; text-align:right">{{Tien_Ship}}</td>
            </tr>
            <tr>
                <td style="font-size:12px; text-align:left;font-weight:bold; white-space:nowrap">Tổng thanh toán:<br>
                <td style="font-size:12px; font-weight:bold; text-align:right">{{Tien_Mat}} <br>
                <hr size="1px;" align="center" /> </td>

            </tr>

            <tr>
                <td style="font-size:12px; text-align:left;white-space:nowrap">Khách đưa:</td>
                <td style="font-size:12px; text-align:right">{{Tien_Khach_Dua}}</td>
            </tr>

            <tr>
                <td style="font-size:11px; text-align:left;white-space:nowrap; padding-left: 10px;">{{Ten_Vi_Thanh_Toan}}:</td>
                <td style="font-size:11px; text-align:right">{{Tong_Tien_Vi_Thanh_Toan}}</td>
            </tr>

            <tr>
                <td style="font-size:12px; text-align:left;font-weight: bold; white-space:nowrap">Tiền trả lại:</td>
                <td style="font-size:12px; font-weight: bold; text-align:right">{{Tien_Tra}}</td>
            </tr>

            <tr>
                <td style="font-size:12px; white-space: wrap;" colspan="100%">{{Ghi_Chu}}</td>
            </tr>

        </tfoot>
    </table>
   
    <table style="margin-top:20px; width:100%; font-weight: bold;">
        <tbody>
            <tr>
                <td style="width: 33%; text-align: center;font-size:12px; font-style:italic;">Người nhận hàng </td>
                <td style=" text-align: center;font-size:12px; font-style:italic;">Kế toán</td>
                <td style=" text-align: center;font-size:12px; font-style:italic;">Giám đốc</td>
            </tr>

        </tbody>

    </table>
    <div style="width: 100%; height: 3cm;"></div>

   </td></tr></tbody></table></div>